streamlit
pip==26.0.1
numpy
pandas
matplotlib
scipy
distributes
setuptools>=65.0.0  # Explicit version
wheel  # Often needed with setuptools
geographiclib==1.49
geopy==1.18.1
git+https://github.com/Knio/pynmea2.git
git+https://github.com/iannesbitt/readgssi.git#egg=readgssi
pytz
obspy
h5py
