streamlit
readgssi
numpy
pandas
matplotlib
Pillow
scipy
pip==26.0.1
setuptools==82.0.0# Explicit version
wheel  # Often needed with setuptools
geographiclib==1.49
geopy==1.18.1
git+https://github.com/Knio/pynmea2.git
readgssi
pytz
obspy
h5py
